.separator{
    position: absolute;
    top: 20px;
    width: 100vw;
    height: 0.5px;
    background-color: grey;
    bottom: 80vh;
}
.dashboard-container{
    width: calc(100vw - 250px);
    height: auto;
    box-sizing: border-box;
}
/* .home-container{
    overflow-y: hidden;
    overflow-x: hidden;
} */
.home-title{
    font-size: 38px;
    color:rgb(158, 109, 202)
}
/***/
.arrow{
    margin: 0px 10px;
    cursor: pointer;
}
.stat-links-container{
    width: 30%;
}
.stat-link{
    color:rgba(140,87,186,1);
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
}
.stat-link:hover{
    text-decoration: underline;
}
.stat-link.active{
    text-decoration: underline;
}
.banned-link{
    color:rgba(140,87,186,0.5);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}
.banned-link:hover{
    text-decoration: underline;
}
.banned-link.active{
    text-decoration: underline;
}
.charts-container{
    width: 80%;
    margin-top: 40px;
}