.separator{
    position: absolute;
    top: 20px;
    width: 100vw;
    height: 0.5px;
    background-color: grey;
    bottom: 80vh;
}
.dashboard-container{
    width: calc(100vw - 250px);
    height: auto;
    box-sizing: border-box;
}
/* .home-container{
    overflow-y: hidden;
    overflow-x: hidden;
} */
.home-title{
    font-size: 38px;
    color:rgba(140,87,186,1)
}
/***/
.arrow{
    margin: 0px 10px;
    cursor: pointer;
}
